.box {
  margin-bottom: 16px;
  border: solid 1px;
  border-radius: 6px;
  border-color: #d0d7de;
}

.box-header {
  padding: 16px;
  margin: -1px -1px 0;
  border: solid 1px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  // relative
  position: relative;
  // background color
  background-color: rgba(234,238,242,0.5);
  border-color: #d0d7de;
  color: #000;
  display: flex;
  // padding: 8px !important;
  align-items: center;
  justify-content: space-between !important;
}

.box-table {
  padding: 20px;
  position: relative;
}

.edit-btn {
  float: right;
  position: relative;
  padding: 8px !important;
  margin-left: 5px;
  line-height: 1;
  background: transparent;
  border: 0;
  box-shadow: none;
}

.btn-apply {
  color: #fff;
  background: linear-gradient(to bottom, $tor-box-colour, $tor-box-colour) no-repeat;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  width: 100%;
  display: block;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 5px;
  font-size: 16px;
  border: hidden;
  margin: 10px 0 0 0;
  padding: 0;
}

.btn-apply:hover {
  background: linear-gradient(to bottom, $tor-box-shadow-colour, $tor-box-shadow-colour) no-repeat;
}

.btn-apply:focus {
  background: linear-gradient(to bottom, $tor-box-shadow-colour $tor-box-shadow-colour) no-repeat;
}

.password_field_container {
  display: flex;
  position: relative;
}

.hidden_password {
  display: block;
}

.shown_password {
  display: block;
}

.show_password {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
  margin: 0;
  padding: 0;
}

input[name="password_visibility"][value="show"]:checked ~ input[name="password_visibility"][value="hide"] {
  display: block;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 999998;
  position: fixed;
  opacity: 0;
  margin: 0;
  padding: 0;
}

.show_password:checked ~ .hide_password_icon {
  display: block;
}

input[name="password_visibility"][value="show"]:checked ~ .password_preview_field {
  display: block;
}

input[name="password_visibility"][value="show"]:checked ~ .black_circle {
  display: none;
}

.hide_password {
  display: none;
}

.hide_password_icon {
  display: none;
}

input[name="password_visibility"][value="show"]:checked ~ .shadow {
  opacity: .3;
  display: block;
}

.black_circle:after {
  content: 	"\25CF\25CF\25CF\25CF\25CF";
}

.icon-eye {
  margin-left: 5px;
}

.password_preview_field {
  width: auto;
  height: auto;
  display: block;
  position: fixed;
  z-index: 999999;
  // width: 500px;
  // height: auto;
  padding: 5px 20px 5px 20px;
  background: #fff;
  color: #000;
  display: none;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  margin: 0 auto;
  cursor: initial;
  overflow-y: auto;
  text-align: left;
  font-size: 14px;
  font-weight: normal;
  max-height: 80%;
  max-width: 90%;
  overflow-x: hidden;
  text-transform: none;
  line-height: 1;
}