$tor-purple: #7D4698;

// torbox colours
$torbox-green: #7fbb23;
$torbox-dark-green: #6ba610;

$green-btn-bg: #2da44e;
$blue-btn-bg: #1d70b8;
$red-btn-bg: #d4351c;
$yellow-btn-bg: #faee1c;

$sky-blue: #5AEDFA;
$blue: #41a4db;

$silver: #848999;
