.notify-bar {
  position: relative;
  width: 60%;
  text-align: center;
  margin: 110px auto 0px auto;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}
.notify-message {
  width: 100%;
  color: white;
  padding: 15px 0 15px 0;
  font-size: 1.3rem;
  background-color: #E74C3C;
  cursor: pointer;
  margin-bottom: -98px;
}

.ignore-notify {
  opacity: 0;
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.ignore-notify:checked ~ .notify-message{
  display: none;
}

@media (max-width: 800px) {
  .notify-bar {
    width: 95%;
  }
  .notify-message {
    font-size: 1.1rem;
  }
}