
.sub-menu {
  width: 100%;
  visibility: visible;
  background-color: #4a4a4a;
  padding: 0px 0px;
  margin: 0;
  overflow: auto;
}

.menu-table {
  width: auto;
  height: auto;
  white-space: nowrap;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu-table > .current {
  border-bottom: solid 5px $torbox-green;
}

.menu-item {
  display: inline-block;
  margin: 0 20px;
  text-align: center;
  letter-spacing: .05em;
  background-color: #4a4a4a;
  height: 100%;
  padding: 10px 10px;
}

.current > .menu-link {
  font-weight: bold;
}

.menu-link {
  color: #fff;
  font-size: 16px;
}