.btn-reload {
  color: #fc0;
  // color: #fff;
  width: 150px;
  height: 40px;
  border-radius: .9rem;
  border-color: #fc0;
}


.btn-enable {
  color: #339900;
  // color: #fff;
  width: 150px;
  height: 40px;
  border-radius: .9rem;
  border-color: #339900;
}


.btn-disable{
  // background-color: #cc3300;
  color: #cc3300;
  // color: #fff;
  width: 150px;
  height: 40px;
  border-radius: .9rem;
  border-color: #cc3300;
}