.btn-reload {
  // color: #fc0;
  color: #000;
  font-size: 18px;
  width: auto;
  padding: 0 10px;
  line-height: 42px;
  margin: 10px 0;
  margin-right: 10px;
  text-align: center;
  border-radius: .4rem;
  vertical-align: middle;
  background-color: $yellow-btn-bg;
}

.btn-enable {
  // color: #339900;
  color: #fff;
  font-size: 18px;
  width: auto;
  padding: 0 10px;
  line-height: 42px;
  margin: 10px 0;
  text-align: center;
  border-radius: .4rem;
  vertical-align: middle;
  border-radius: .4rem;
  background-color: $green-btn-bg;
}

.btn-disable{
  // background-color: #cc3300;
  // color: #cc3300;
  color: #fff;
  font-size: 18px;
  width: auto;
  padding: 0 10px;
  line-height: 42px;
  margin: 10px 0;
  text-align: center;
  border-radius: .4rem;
  vertical-align: middle;
  border-radius: .4rem;
  background-color: $red-btn-bg;
}